body {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  justify-content: center;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
}

.cabecalho {
  background-image: url('../img/banner/banner-bears-pizzaria.png');
  background-size: 100vw 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 50em;
}

.logo {
  margin-left: 2em;
  margin-top: 1em;
}

.navegacao {
  float: right;
  margin-top: -7em;
  font-size: 1.1em;
  margin-right: 2em;
}

nav ul li {
	display: inline-block;
	padding: 14px 16px;
}

a {
	text-decoration: none;
}

a:link{
	/* nao visitado */
	color: #267356;
}

a:visited{
	color: #267356;
}

a:active{
	color: #EC4646;
}

a:hover {
  color: #402218;
}

.circle-1,
.circle-2,
.circle-3 {
  color: #fff;
  padding: 10%;
  width: 15em;
  height: 15em;
  margin-top: -2em;
  /*mix-blend-mode: multiply;*/
  float: right;
}
.circle-1 {
  background: #EC4646;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.text-circle {
  font-size: 2em;
  text-align: center;
  margin-top: -0.2em;
  margin-left: -4.4em;
  width: 16em;
}

.vantagens {
  width: 100%;
  height: 20em;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 4em;
}

.chips {
  display: inline-flex;
  /*background-color: #EC4646;/*#7D5A50*/
  height: 12em;
  width: 12em;
  margin: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
}

.chips-circlo {
  background: #EC4646;
  border-radius: 50%;
}

.img-chips {
  height: 6em;
  padding: 30px;
}

.chips-text {
  text-align: center;
  font-size: 1.1em;
  margin-top: 20px;
  color: #423F3E;
}

.rodape {
  background-color: #402218;
  color: #fff;
  display: inline-flex;
  /*background-color: #EC4646;/*#7D5A50*/
  height: 12em;
  width: 100%;
  margin: 0px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
}

.rodape-endereco {
  display: flex;
  margin: 0;
}

.rodape-social {
  display: flex;
  margin: 0;
}

.rodape-social a {
  color: #fff;
  margin: 10px;
}

.promo {
  position: fixed;
  left: 0;
}

.precos {
  color: #402218;
  display: inline-flex;
  /*background-color: #EC4646;/*#7D5A50*/
  height: 12em;
  width: 100%;
  margin: 0px;
  margin-top: 200px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
}

.titulo-main {
  color: #7D5A50; 
  text-align: center; 
  font-size: 2.2em; 
  margin-bottom: 1em; 
  font-weight: 900;
}

.tabela-preco {
  border-collapse: collapse;
  margin: 25px 0 10em 0;
  font-size: 1.2em;
  min-width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.tabela-preco thead tr {
  background-color: #267356;
  color: #ffffff;
  text-align: center;
}

.tabela-preco th,
.tabela-preco td {
  padding: 12px 15px;
  margin-left: 10px;
}

.tabela-preco tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabela-preco tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tabela-preco tbody tr:last-of-type {
  border-bottom: 2px solid #267356;
}

.tabela-preco tbody tr.active-row {
  font-weight: bold;
  color: #267356;
}

.quem-somos {
  margin-left: 5px;
  width: 99%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  display: inline-flex;
}

.quem-somos-item {
  background-color: #267356;
  color: #f3f3f3;
  width: 30%;
  margin: 15px;
  padding: 20px;
  border-radius: 30px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  
}

.quem-somos-item ol {
  text-align: justify;
}

.quem-somos-item-titulo {
  font-size: 1.6em;
}

.quem-somos-icon {
  margin-bottom: -50px;
}

.contato {
  margin: 50px;
}

.contato fieldset {
  border-radius: 20px;
  border-color: #f3f3f3;
  margin-bottom: 40px;
}

.contato legend {
  border-color: #e8e8e8;
}

input, select {
	padding: 4px;
	border: 2px solid #267356;
	border-radius: 20px;
  margin-bottom: 12px;
  height: 30px;
  font-size: 1em;
  color: #423F3E;
  display: inline-block;
}

.contato select {
  height: 40px;
  width: 41%;
  padding-right: 10px;
}

textarea {
  padding: 4px;
	border: 2px solid #267356;
	border-radius: 20px;
  margin-bottom: 12px;
  font-size: 1em;
  color: #423F3E;
  display: inline-block;
  width:40%;
  height:270px;
}

input:focus, select:focus, textarea:focus {
	background-color: #f3f3f3;
  border: 2px solid #267356;
	border-radius: 20px;
}

input[type=submit], input[type=reset]{
	background-color: #402218;
  font-size: 0.8em;
  font-weight: 700;
	padding: 5px 10px; /* topo, direita, embaixo, esquerda */
	border: 0;
  border-radius: 20px;
	color: #f3f3f3;
  height: 40px;
  min-width: 90px;
}

input[type=submit]:hover, input[type=reset]:hover{
	background-color: #462c23;
	border: 0;
	color: #f3f3f3;
}

.contato details {
  color: #462c23;
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 20px;
}
